@model IEnumerable<G16_2013.Models.MemberModel.CompanyContractInputModel>
@using (Html.BeginForm("UpdateContractRecord", "Company", FormMethod.Post))
{

    <table id="tableContractRecordList" class="table">
        <thead>
            <tr>
                <th>公司</th>
                <th>合約狀態</th>
                <th>開始日期</th>
                <th>結束日期</th>
                <th>備註</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var record in Model)
            {
                @Html.DisplayFor(m => record, "Company/CompanyContractGridView")
            }
        </tbody>
    </table>


}
