@model G16_2013.Models.MemberModel.PersonViewModel

@{
    ViewBag.Title = "Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>基本資料</h2>


@Html.DisplayForModel("Person/Person")

<ul class="nav nav-tabs" style="margin-bottom: 15px;">
    <li class="active"><a href="#PersonContactinfo" data-toggle="tab">聯絡資訊</a></li>
    <li><a href="#PersonAccount" data-toggle="tab">帳戶資訊</a></li>
</ul>
<div id="myTabContent" class="tab-content">
    @* 聯絡資訊 *@
   @Html.DisplayFor(m => m.ContactInfoView, "Person/PersonContactInfo")
    @* 帳戶資訊 *@
    <div class="tab-pane fade" id="PersonAccount">
        <p>Food truck fixie locavore, accusamus mcsweeney's marfa nulla single-origin coffee squid. Exercitation +1 labore velit, blog sartorial PBR leggings next level wes anderson artisan four loko farm-to-table craft beer twee. Qui photo booth letterpress, commodo enim craft beer mlkshk aliquip jean shorts ullamco ad vinyl cillum PBR. Homo nostrud organic, assumenda labore aesthetic magna delectus mollit.</p>
    </div>
</div>

