@{
    ViewBag.Title = "Cancel";
}

<h2>Cancel</h2>
<div class="container">
    <div>
        <h2><span class="glyphicon glyphicon-user"></span>新增客戶</h2>
        <hr />
    </div>
    <div class="row well">
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-body">
                    Basic panel
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-body">
                    Basic panel
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-body">
                    Basic panel
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-body">
                    Basic panel
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-body">
                    Basic panel
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-body">
                    Basic panel
                </div>
            </div>
        </div>

    </div>
</div>