

@{
    ViewBag.Title = "新增客戶";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div>
    <h2><span class="glyphicon glyphicon-user"></span>新增客戶</h2>
    <hr />
</div>


@Html.Action("AddFuturesCustomer")
