@model G16_2013.Models.MemberModel.CompanyAECodesSearchInput




    <div class="form-group">
        <label for="searchway" class="col-md-1 control-label text-muted">條件搜尋</label>
        <div class="col-sm-2">
            @Html.DropDownListFor(m => m.SearchWayId, new SelectList(Model.SearchOptions, "Value", "Text", Model.SearchWayId), new { @class = "form-control ", @id = "searchway", onchange = "$(this.form).submit();" })
          @Html.HiddenFor(m=>m.CompanyId)  
        </div>
        <div class="col-md-3" style="text-align: right">
            <label class="sr-only">業務類型</label>
            @Html.DropDownListFor(m => m.BusinessTypeId, new SelectList(Model.BusinessTypeOptions, "Value", "Text", Model.BusinessTypeId), new { @class = "form-control ", @id = "parentCompany", onchange = "$(this.form).submit();" })
        </div>
    </div>

