@model G16_2013.Models.MemberModel.FuturesAccountInputModel

@using (Html.BeginForm("CreateFuturesAccount", "Account", FormMethod.Post, new { @class = "form-horizontal", id = "formCreateFuturesAccount" }))
{ 
    <div id="divAccountInfo">
        @Html.EditorForModel("Account/AccountCreate")

    </div>
 
    
    <hr/>
    
      <div id="divBankInfo">
          <div id="divTWOutMoneyBank">
              <h4>台幣出金銀行</h4>
              <table id="tableTWOutMoneyBank" class="table">
                  <thead>
                      <tr>
                          <th></th>
                          <th>出金/入金</th>
                          <th>名稱</th>
                          <th>分行</th>
                          <th>幣別</th>
                          <th>帳號</th>

                          <th></th>

                      </tr>
                  </thead>
                  <tbody>
                      @Html.EditorFor(m=>m.TaiwanWithdrawBank,"Account/BankInfo")
                  </tbody>
              </table>
             
          </div>
          <div id="divTWInMoneyBanks">
              <h4>台幣入金銀行</h4>
              <table id="tableTWInMonyBankList" class="table">
                  @if (Model.TWDepositBanks != null || Model.TWDepositBanks.Count > 0)
                  {
                      <thead>
                      <tr>
                          <th></th>
                          <th>出金/入金</th>
                          <th>名稱</th>
                          <th>分行</th>
                          <th>幣別</th>
                          <th>帳號</th>

                          <th></th>

                      </tr>
                  </thead>
                      <tbody>

                          @for (int i = 0; i < Model.TWDepositBanks.Count; i++)
                          {

                              @Html.EditorFor(m => Model.TWDepositBanks[i], "Account/BankInfo")

                          }

                      </tbody>
                  }


              </table>

          </div>
      </div>
}

@using (Html.BeginScriptContext())
{
    Html.AddScriptBlock(
        @<script type="text/javascript">
            function AccountTypeChanged()
            {
                $("#formCreateFuturesAccount").submit();
            }
        </script>
, true);
}