@model G16_2013.Models.MemberModel.FuturesAccountInputModel


@{
    ViewBag.Title = "新增帳戶";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Create</h2>
<div id="divForm">
    @Html.Partial("_CreateFuturesAccount", Model)

</div>


@*@section scripts{
    
    <script type="text/javascript">
        function AccountTypeChanged(typeId)
        {
            if (typeId == 0)
            {
                alert(typeId);
            }
            else if(typeId ==1)
            {
                alert(typeId);
            }
        }
    </script>

}*@