@model G16_2013.Models.MemberModel.AddressViewModel
<div class="form-group">
    <label class="col-md-1 control-label">地址</label>
    <div class="col-md-1">
        <h5 class="text-info">@Html.DisplayTextFor(m => m.ZipCode) </h5>
    </div>
    <div class="col-md-1">
        <h5 class="text-info">@Html.DisplayTextFor(m => m.CityText) </h5>
    </div>
    <div class="col-md-1">
        <h5 class="text-info">@Html.DisplayTextFor(m => m.DistrictText) </h5>
    </div>
    <div class="col-md-7">
        <h5 class="text-info">@Html.DisplayTextFor(m => m.Street) </h5>
    </div>
</div>